@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    min-height: 100%;
    width: 100%;
    font-family: 'Heebo', sans-serif;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#settings {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    align-items: center;
}

#clearbtn {
    border: none;
    outline: none;
    padding: 12.5px 30px;
    margin-bottom: 50px;
    border-radius: 25px;
    background-color: #3282ff;
    box-shadow: 0px 5px 0px #153a75;
    color: #ffffff;
    font-size: 14px;
    transition: all .1s;
}

#clearbtn:active {
    transform: translate(0px, 5px);
    box-shadow: none;
}

#sliderdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    opacity: 0.8;
    outline: none;
    margin: auto;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff1818;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff1818;
    cursor: pointer;
}

.slider:hover {
    opacity: 1;
}

#sliderval {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
    height: 100px;
    list-style-type: none;
}

#sketch-area {
    display: grid;
    height: 640px;
    width: 640px;
    border: 2px solid #000000;
}

.square {
    background-color: #ffffff;
    border: 1px solid rgb(235, 235, 235);
}

.black {
    background-color: #000000;
}